.form-container {
    background-color: #fff;
    padding: 2vw;
    margin-bottom: 1em;
    box-sizing: border-box;
    width: 80%;

    &.wide {
        width: 100% !important;
    }

    h3 {
        font-size: 1.5em;
        padding: 0;
        margin: 0;
    }

    .inline-flex {
        display: flex;
        justify-content: space-between;

        .form-group {
            margin-left: 1em;
            margin-right: 1em;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    .inline-flex {
        flex-wrap: wrap;
        .form-group {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 48%;
        }
    }
}

.form-info {
    display: block;
    margin-bottom: 10px;
    font-size: 0.8em;
    font-weight: 600;
}