header {

	.container {
		width: 65vw;
		margin: 0 auto;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	padding: 0vw 5vw;
	height: 60px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e6e6e6;
	position: relative;

	div#logo {
		width: 250px;
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		img {
			display: block;
		}
	}

	.header-controls {

		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 250px;

		a {
			font-size: 0.8em;
			font-weight: bold;
			text-decoration: none;
			display: inline-block;

			&.entry-link {
				margin: 0 0.6em;
				color: #4270C9;
				transition: color 150ms ease-in-out;
				transition: color 150ms ease-in-out;

				&:hover {
					color: #80a8cc;
				}

				&.btn {
					padding: 9px 18px;
					border-radius: 6px;
					color: #fff;
					background: #4270C9;
					transition: background 150ms ease-in-out;

					&:hover {
						background: #80a8cc;
					}
				}
			}

			&.header-btn {
				color: #888;
				padding: 9px 12px;
				border: 1px solid #ccc;
				border-radius: 3px;

				span {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
				}

				&.spaced {
					display: flex;
					justify-content: space-between;
					align-content: center;
					width: 100px;
				}
			}

			&.create-btn {
				margin-right: 20px;
				padding: 9px 12px;
				background: #4270C9;
				border-radius: 3px;
				color: #fff;
				font-weight: 100;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				transition: background 150ms ease-in-out;

				&:hover {
					background: #80a8cc;
				}

				i {
					margin-right: 10px;
				}
			}

		}

		.dropdown {

			.dropdown-menu {
				margin-top: 10px;
			}

			a {
				&.dd-item {
					display: block;
					padding: 0.4em 1em;
					cursor: pointer;
					transition: background 150ms ease-in-out;
					text-decoration: none;
					color: #666;
					font-size: 0.8em;
				}

				&.mobile-only {
					display: none;
				}
			}
		}
	}
}

main {
	min-height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-start;
	background-color: #eeeeee;

	&.entry-pages {
		align-items: center;
		background-color: #4270C9;
		.main-content {
			width: auto;
		}
	}
}

.main-content {
	width: 65vw;
	margin: 0 auto;
	padding: 1vw;
}

.search-bar-container {
	position: relative;
	display: flex;
	align-content: center;
}

.show-mobile {
	display: none;
}

.hide-mobile {
	display: block;
}

#search-bar {
	position: relative;
	min-width: 350px;
	background: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	form {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: nowrap;

		input {
			padding: 8px 0px 8px 10px;
			border: none;
			background: transparent;
			width: 100%;
			outline: none;
			font-size: 0.9em;
		}

		button {
			background: transparent;
			outline: none;

			i {
				color: #5c5c5c;
				font-size: 0.9em;
				cursor: pointer;
			}
		}

		.loading-spinner {
			display: block;
			padding: 0.5em 1em;
			color: #5c5c5c;
		}
	}

	.search-suggestions {
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		bottom: 0;
		transform: translateY(100%);
		border: 1px solid #e6e6e6;
		border-top: none;
		background: #fff;
		z-index: 999;

		.search-suggestion {
			position: relative;
			padding: 8px;
			cursor: pointer;
			font-size: 0.9em;
			color: #333;

			&:hover {
				background: #f9f9f9;
			}
		}

		.search-suggestion[data-focus="true"] {
			background: #f5f5f5;
		}
	}
}

.dropdown {
	position: relative;

	&.active {
		.dropdown-menu {
			z-index: 1;
			display: block;
		}
	}

	.dropdown-menu {
		display: none;
		margin-top: 0.5em;
		background: #fff;
		border: 1px solid #e6e6e6;
		padding: 0.3em 0;
		min-width: 10em;
		box-sizing: border-box;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 3px;

		a {
			padding: 0.4em 1em;
			cursor: pointer;
			transition: background 150ms ease-in-out;
			text-decoration: none;
			color: #666;
			font-size: 1em;

			&:hover {
				background: #f2f2f2;
			}
		}
	}
}

.d-spaced {
    display: flex;
    justify-content: space-between;
}

.d-reversed {
    display: flex;
    justify-content: flex-end;
}

.d-v-center {
    display: flex;
    align-items: center;
}

.error-page {
	width: 60%;

	h2 {
		font-size: 2em;
	}

	p {
		color: #666;
		line-height: 2em;
		font-size: 1.2em;
	}
}

#privacy-policy {
	width: 80%;
	max-width: 800px;
	margin: 50px auto;
	color: #000;

	h2 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
		line-height: 1.4em;
	}

	ul {
		color: #000;
	}
}

#error-page {
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;

	.error-text {
		text-align: center;
		h1 {
			font-size: 10em;
			margin: 0;
			font-weight: 100;
			color: #888;
		}

		h2 {
			font-size: 2em;
			margin: 0;
			color: #555;
		}
	}

	#search-bar {
		margin: 3em auto;
	}
}

.modal-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
	background: #fff;
	border: 1px solid #eee;
	outline: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 300px;
	max-width: 500px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);

	.modal-body {
		padding: 20px;

		span {
			display: inline-block;
			line-height: 1.6em;
		}
	}

	.modal-footer {
		border-top: 1px solid #eee;
		padding: 10px 20px;

		&.reversed {
			display: flex;
			justify-content: flex-end;
		}
	}
}

@media only screen and (max-width: 1024px) {

	header {
		padding: 0vw 2vw;

		.container {
			width: 90% !important;
		}

		.header-controls {

			a {
				&.header-btn {
					&.spaced {
						width: 70px !important;
					}
				}

				&.create-btn {
					margin-right: 10px;
					margin-left: 10px;
				}

				&.entry-link {
					margin: 0 0.5em;
					font-size: 0.9em;
				}
			}
		}

		#search-bar {
			min-width: 300px;
		}
	}

	.main-content {
		width: 90%;
	}
}

@media only screen and (max-width: 600px) {

	header {
		padding: 0 0.5em;
		height: 60px;

		.container {
			width: 90% !important;
		}

		.header-controls {
			width: auto;
		}

		div#logo {
			width: 50px !important;

			img {
				height: 30px;
			}
		}

		.header-btn {
			padding: 7px 10px !important;
			font-size: 0.7em !important;
			border: 1px solid #ccc;
			border-radius: 3px;
		}

		.create-btn {
			display: none !important;
		}

		.dropdown {
			right: 5px;

			a.header-btn {
				span {
					display: none;
				}

				&.spaced {
					width: auto !important;
				}
			}

			.dropdown-menu {
				right: 0;
				margin-top: 15px !important;
				width: 100vw !important;

				a {
					font-size: 1em !important;
					padding: 0.6em 1em !important;

					&.mobile-only {
						display: block !important;
					}
				}
			}
		}
	}

	.search-suggestion {
		font-size: 0.8em !important;
	}

	.search-bar-container {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.5em 1em;
		background: #fff;
		transform: translateY(100%);
		z-index: 999;
		box-sizing: border-box;

		&.mobile {
			border-bottom: 1px solid #eee;
		}
	}

	.mobile-search-btn {
		margin-right: 1em;
		i {
			font-size: 1.1em;
			color: #666;
		}
	}

	.show-mobile {
		display: block;
	}

	.hide-mobile {
		display: none;
	}

	#search-bar {
		margin: 0 auto;
		min-width: 90% !important;

		form {

			input {
				border: none;
				background: transparent;
				width: 100%;
				outline: none;
				font-size: 0.8em;

			}

			button {
				position: relative;

				i {
					color: #5c5c5c;
					font-size: 0.7em;
					cursor: pointer;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.loading-spinner {
				display: inline-block;
				color: #5c5c5c;
				font-size: 0.7em;
			}
		}
	}

    .main-content {
		width: 90%;
	}

	#error-page {
		height: 100vh;
		display:flex;
		justify-content: center;
		align-items: center;

		.error-text {
			text-align: center;

			h1 {
				font-size: 5em;
				margin: 0;
				font-weight: 100;
				color: #888;
			}

			h2 {
				font-size: 1em;
				margin: 0 auto;
				color: #555;
				width: 80%;
			}
		}

		#search-bar {
			margin: 3em auto;
		}
	}
}