#splash-page {

    header {
        z-index: 999;
        background: none;
        border: none;
        position: absolute;
        padding: 0vw 5vw;
        height: 80px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-basis: 0;
        flex: 1 1 0;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;

        .entry-btns {
            a {
                text-decoration: none;
                display: inline-block;
                font-size: 1em;
                font-weight: bold;
                margin: 0 0.5em;
                color: #fff;
                transition: color 150ms ease-in-out;
                &:hover {
                    color: #dddddd;
                }
            }
        }
    }

    main {
        background: none;
        display: block;

        .header-section {
            min-height: 500px;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                z-index: -1;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .overlay {
                position: absolute;
                background: #327fa8;
                height: 100%;
                width: 100%;
                z-index: 1;
                opacity: 0.8;
            }

            .header-content {
                min-width: 800px;
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #fff;

                h1 {
                    font-size: 3em;
                    font-weight: 100;
                    text-align: center;
                }

                form {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }

                input {
                    padding: 10px 16px;
                    font-size: 1.1em;
                    width: 70%;
                    box-sizing: border-box;
                    border-radius: 100px;
                    border: none;
                    outline: none;
                    color: #666;
                }
            }

            .ab-container {
                z-index: 1;
                position: absolute;
                bottom: 10%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: center;

                .action-btn {
                    background: #e3b605;
                    border-radius: 5px;
                    color: #fff;
                    text-decoration: none;
                    padding: 12px 14px;
                    transition: background 150ms ease-in-out;
                    &:hover {
                        background: #edbe05;
                    }
                }
            }
        }
    }

    .container {
        margin: 0 auto;
        margin-top: 50px;
        width: 50%;
        max-width: 800px;

        .std-block {
            margin-bottom: 50px;

            &.main {
                text-align: center;
                margin: 100px 0;

                h2 {
                    font-style: italic;
                }
            }

            h2 {
                color: #444;
            }

            p {
                font-size: 1.1em;
                line-height: 1.5em;
            }
        }
    }

    footer {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            div {
                margin-right: 20px;

                a {
                    color: #444;
                    text-decoration: none;

                    &:hover {
                        color: #777;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #splash-page {
        header {
            img {
                height: 30px !important;
            }
        }

        .header-section {
            position: absolute;
            img {
                position: absolute;
                height: 100% !important;
                width: auto !important;
            }
        }

        .header-content {
            min-width: 85% !important;

            h1 {
                font-size: 2em !important;
            }

            input {
                width: 100% !important;
            }
        }
    }

    .container {
        width: 80% !important;
    }

    footer {
        .container {
            div {
                margin-right: 10px !important;
            }
        }
    }
}