.card-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.no-results {
    text-align: center;
    width: 100%;

    h3 {
        text-align: center;
        font-size: 1.8vw;
        color: #aaa;
        font-weight: 100;
    }
}

@media only screen and (max-width: 600px) {

    .no-results {
        h3 {
            font-size: 1.5em;
        }

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}