.thin-shadow {
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
}

#edit-account,
#delete-account {
    max-width: 700px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.account-details {
    padding: 0.5em 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        display: inline-block;
        font-size: 0.8em;
        &.username {
            color: #444;
            font-weight: 600;
            margin-bottom: 0.2em;
            margin-right: 1em;
        }

        &.date {
            color: #666;
            font-size: 0.7em;
        }
    }

    .std-link {
        color: #80a8cc;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.8em;

        &:hover {
            color: #6c94a4;
        }
    }
}

.account-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 1.8em;

    nav {
        width: 60%;
        a {
            display: inline-block;
            padding: 0.8em;
            box-sizing: border-box;
            border-bottom: 4px solid transparent;
            cursor: pointer;
            width: 18%;
            text-align: center;
            transition: border-bottom-color 150ms ease-in-out;

            &.active,
            &:hover {
                border-bottom-color: #80a8cc;
            }

            span {
                display: block;
                text-transform: uppercase;

                &.post-label {
                    color: #aaa;
                    font-size: 0.6em;
                    margin: 0.3em 0;
                }

                &.post-count {
                    color: #000;
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .account-header {
        nav {
            width: 70%;
        }
    }

    #edit-account,
    #delete-account {
        width: 50vw;
    }
}

@media only screen and (max-width: 600px) {
    .std-link {
        font-size: 0.8em !important;
    }

    .account-header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        nav {
            width: 100%;

            a {
                padding: 0.8em;
                width: 20%;
                span {

                    &.post-label {
                        color: #aaa;
                        font-size: 0.5em;
                        margin: 0.2em 0;
                    }

                    &.post-count {
                        color: #000;
                        font-size: 0.8em;
                    }
                }
            }
        }

    }

    #edit-account {
        margin-top: 1em;
    }

    #edit-account,
    #delete-account {
        width: 100%;
        padding: 1.5em;

        button {
            width: 100%;
        }
    }
}