.form-group {
    margin-bottom: 15px;

    &.reversed {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &.spaced {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.center {
        text-align: center;
    }

    .spaced {
        display: flex;
        justify-content: space-between;
    }
}

.form-label-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em;
}

label,
.counter {
    font-size: 0.7em;
    color: #666;
    display: block;
    text-transform: uppercase;
}

.form-control {
    padding: 11px;
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9em;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: padding 100ms ease-in;
    outline: none;

    &.editable-mask {
        border-color: transparent;
        padding: 0.4em 0;
        cursor: pointer;
    }
}

textarea {
    resize: vertical;
    font-family: 'Montserrat', sans-serif;
}

.preview-field {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 0.9em;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #444;
    max-height: 200px;
    overflow-y: scroll;

    li {
        font-size: 0.9em;
    }
}

.error-message {
    background-color: #FFBABA;
    color: #D8000C;
    padding: 0.5em;
    margin-top: 0.2em;
    font-size: 0.8em;
    border-radius: 3px;
}

#file-input-container {

    .upload-btn {
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        text-align: center;
        background: #6197c9;
        color: #e4eef7;
        cursor: pointer;
        transition: background 150ms ease-in-out;

        i {
            margin-right: 10px;
            vertical-align: middle;
        }

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            max-width: 50%;
            vertical-align: middle;
        }

        &:hover {
            background: #71aade;
        }
    }

    #file-preview {
        background: #f9f9f9;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;

        .image-container {
            max-width: 100%;
            max-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;

            img#existing-preview {
                cursor: pointer;
            }

            img {
                max-height: 500px;
            }
        }
    }

    #file-input {
        display: none;
    }

    .upload-buttons {
        display: flex;
        justify-content: flex-start;

        button {
            width: 50%;
        }
    }
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;

    .loading-spinner {
        display: inline-block;
        margin-right: 0.7em;
    }

    &.btn-link {
        background: transparent;
        color: #0073e6;

        &:hover {
            color: #0059b3;
        }

        &:disabled {
            color: #666;
            cursor: not-allowed;
        }
    }

    &.btn-submit {
        color: #fff;
        background: #4270C9;;
        border-radius: 3px;

        &:hover {
            background: #80a8cc;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &.btn-danger {
        color: #fff;
        background: #d9534f;
        border-radius: 3px;

        &:hover {
            background: #d43f3a;
        }
    }

    &.stretched {
        width: 100%;
    }

}