.comments {
    padding: 1em;
    box-sizing: border-box;
}

.comments-form {
    margin-bottom: 1em;
}

.comment {
    padding: 0 1em;
    margin-bottom: 1em;

    .meta {
        span {
            font-size: 0.7em;
            margin-right: 1em;
            &.author {
                font-weight: bold;
            }

            &.edited {
                font-style: italic;
            }
        }
    }

    .comment-text {
        p {
            font-size: 0.9em;
            line-height: 1.5em;
            margin-top: 0;
            margin-bottom: 7px;
        }
    }

    nav {
        a {
            font-size: 0.7em;
            font-weight: bold;
            margin-right: 1em;
            text-decoration: none;
            cursor: pointer;
            color: #333;
            transition: color 150ms ease-in-out;

            &:hover {
                color: #888;
            }

        }
    }
}

.menu-confirmation {
    display: inline-block;
    span {
        font-weight: bold;
        display: inline-block;
        font-size: 0.7em;
        margin-right: 0.5em;
    }
}

.blank-block {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-content: center;

    span {
        font-size: 1em;
        color: #777;
        i {
            font-size: 2em;
        }
    }

    a {
        text-decoration: none;
        color: #6c94a4;
        &:hover {
            text-decoration: underline;
        }
    }
}