.card {
    margin: 0.66%;
    box-sizing: border-box;
    background: #fff;
    width: 32%;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 7px;
    overflow: hidden;
    -webkit-box-shadow: 1px 2px 2px #d1d1d1;
    -moz-box-shadow: 1px 2px 2px #d1d1d1;
    box-shadow: 1px 2px 2px #d1d1d1;


    a {
        text-decoration: none;
    }

    .card-image-container {
        height: calc(20.9vw * 0.5625);
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            height: auto;
            width: 100%;
            z-index: 0;
            transform: translateY(-50%) scale(1);
            transition: transform 250ms ease-in-out;
        }
    }

    .card-content {
        width: 100%;
        padding: 0.8vw 1vw;
        box-sizing: border-box;
        transition: opacity 250ms ease-in-out;

        span {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            &.title {
                display: block;
                width: 100%;
                font-size: 1.1vw;
                color: #444;
                margin-bottom: 0.5vw;
            }

            &.author {
                color: #888;
                font-weight: 100;
                font-size: 0.8vw;
            }
        }

        .card-meta {
            display: flex;
            justify-content: space-between;
            padding-top: 0.2em;

            .flex-start {
                display: flex;
                justify-content: flex-start;

                span {
                    margin-right: 0.5em;
                }
            }

            span {
                color: #888;
                font-weight: 100;
                font-size: 0.8vw;

                &.average-rating {
                    display: flex;
                    align-items: center;
                    i {
                        margin-right: 0.2em;
                    }
                }
            }
        }

        &.bottom {
            bottom: 0;
        }

    }

    &.preloading {
        background: #fff;

        .image-placeholder {
            position: relative;
            height: calc(22vw * 0.5625);
            overflow: hidden;
        }

        .content-placeholder {
            width: 100%;
            padding: 0.8vw 1vw;
            box-sizing: border-box;

            span {
                position: relative;
                display: block;
                height: 1em;
                overflow: hidden;
                margin-bottom: 0.3em;

                &.short {
                    width: 40%;
                }
            }
        }
    }
}

.card-tile {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #777;
    position: absolute;
    animation: tilePulse 1200ms infinite;
    z-index: 0;
}


@keyframes tilePulse {
    0% { background: #ccc; };
    50% { background: #ddd; };
    100% { background: #ccc; };
}

@media only screen and (max-width: 1024px) {
    .card {
        margin: 0.66%;
        box-sizing: border-box;
        background: #fff;
        width: 32%;
        display: inline-block;
        position: relative;
        cursor: pointer;

        .card-content {
            padding: 0.8em 1em;

            span {
                &.title {
                    font-size: 0.8em;
                    margin-bottom: 0.5em;
                }

                &.author {
                    font-size: 0.6em;
                }
            }

            .card-meta {
                span {
                    font-size: 0.6em;
                }
            }
        }

        .card-image-container {
            height: calc(29vw * 0.5625);
        }

        .image-placeholder {
            height: calc(29vw * 0.5625) !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
        margin-bottom: 15px;

        .card-content {
            padding: 0.8em 1em;

            span {
                &.title {
                    font-size: 1em;
                    margin-bottom: 0.5em;
                }

                &.author {
                    font-size: 0.8em;
                }
            }

            .card-meta {
                span {
                    font-size: 0.8em;
                }
            }
        }

        .card-image-container {
            height: calc(89vw * 0.5625);
        }

        .image-placeholder {
            height: calc(89vw * 0.5625) !important;
        }
    }
}