.entry-pages {
    .form-container {
        border-radius: 5px;
        -webkit-box-shadow: 1px 2px 2px #445b70;
        -moz-box-shadow: 1px 2px 2px #445b70;
        box-shadow: 1px 2px 2px #445b70;
    }
}

.condensed {
    width: 400px !important;
}

.center {
    text-align: center;
}

.form-link {
    text-decoration: none;
    cursor: pointer;
    color: #6c94a4;
    font-size: 0.9em;

    &:hover {
        text-decoration: underline;
    }
}

.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    font-size: 1.5em;
    color: #666;
}

@media only screen and (max-width: 600px) {
    main.entry-pages .main-content {
        width: 80% !important;
        padding: 0 1em;
    }

    .condensed {
        width: 100% !important;
        padding: 1em;
    }
}