.main-image-container {
    overflow: hidden;
    height: 448px;
    position: relative;
    background: #000;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.action-ctl-btn {
    background: #4270C9;
    border-radius: 3px;
    padding: 5px 15px;
    min-width: 60px;
    text-align: center;
    color: #fff !important;
    transition: background 150ms ease-in-out !important;

    &:hover {
        background: #80a8cc;
    }
}

.recipe-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    background: linear-gradient(transparent, #000);

    &.hidden {
        background: none !important;
    }

    .recipe-detail {
        margin-right: 1em;

        span {
            color: #fff;
            font-size: 1em;
            &.label {
                font-weight: bold;
                margin-right: 0.5em;
            }
        }
    }
}

.recipe-container {
    max-width: calc(calc(16/9) * 450px);
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 1em;
}

#delete-recipe {
    label {
        margin-bottom: 15px;
    }
}

.thick-padding {
    padding: 1em 5.5em 4em 5.5em;
}

.recipe-content {
    width: 100%;

    .content-group {
        margin-bottom: 2.2em;
    }

    .post-title {
        position: relative;
        word-wrap: break-word;

        h2 {
            min-height: 1em;
            font-size: 2em;
            margin-bottom: 0.5em;
            font-family: 'Montserrat', sans-serif;
            color: #444;
            font-weight: 100;
        }
    }

    .post-meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.8em;

        .post-details {
            position: relative;
            min-height: 0.9em;
            min-width: 200px;
            font-size: 0.9em;

            .display-name {
                display: inline-block;
                color: #000;
                font-weight: 600;
                margin-right: 0.9em;
                text-decoration: none;
                transition: color 150ms ease-in-out;
                &:hover {
                    color: #444;
                }
            }

            span {
                display: inline-block;

                &.time-ago,
                &.revision-icon {
                    color: #666;
                    margin-right: 0.9em;
                }
            }
        }
    }
}

.loading-tile-lines {
    span {
        position: relative;
        min-height: 0.9em;
        width: 100%;
        display: block;
        margin-bottom: 0.5em;
    }
}

.description {
    p {
        color: #666;
        font-size: 1em;
        line-height: 1.5em;
    }
}

.rating {
    display: flex;
    align-items: center;

    .rating-btn {
        display: inline-block;
        margin-left: 0.3em;
        box-sizing: border-box;
        cursor: pointer;

        &.fas {
            color: #E8DF1A;
        }

        &.disabled {
            cursor: initial !important;
            color: #ccc !important;
        }
    }
}

.content-header {
    position: relative;
    font-size: 1.2em;
    color: #000;
    font-weight: 100;

    &.loading {
        width: 150px;
        min-height: 1.2em;
    }
}

ul, ol {
    color: #666;

    li {
        font-size: 1em;
        line-height: 2em;
    }
}

.recipe-controls {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 150px;
    min-height: 0.8em;

    .average-rating {
        margin-right: 10px;
        vertical-align: bottom;
    }
}

.recipe-menu {
    position: relative;
    overflow: hidden;
    min-width: 200px;
    min-height: 1em;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    a {
        font-size: 0.8em;
        font-weight: bold;
        margin-right: 1em;
        text-decoration: none;
        cursor: pointer;
        color: #333;
        transition: color 150ms ease-in-out;

        &:hover {
            color: #888;
        }

        &.thing {
            color: #000;
            background: #ddd;
            padding: 0.5em 0.7em;
            transition: background 150ms ease-in-out;
            margin-right: 0;
            margin-left: 0.5em;
            border-radius: 3px;
            &:hover {
                background: #ccc;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {

    .main-image-container {
        position: relative;
        overflow: hidden;
        height: auto;
        min-height: 358px;
        background: #fff;

        img {
            width: 100%;
            position: relative;
            top: 0;
            transform: translateY(0);
        }
    }

    .thick-padding {
        padding: 1em 3.5em 4em 3.5em;
    }

    .recipe-content {
        width: 100%;

        .post-title {
            position: relative;
            word-wrap: break-word;

            h2 {
                min-height: 1.3em;
                font-size: 2em;
            }
        }
    }

    .content-header {
        font-size: 1.6em;
    }

    ul, ol {
        li {
            font-size: 1em;
            line-height: 1.6em;
        }
    }

    .description {
        p {
            font-size: 1em;
        }
    }

    #delete-recipe {
        width: 100%;
        padding: 1em;

        .btn-container {
            display: flex;
            justify-content: space-between;
        }
    }

    .recipe-form-container {
        margin: 0 auto;
        width: 90% !important;
    }

}

@media only screen and (max-width: 600px) {
    .main-image-container {
        overflow: hidden;
        height: auto;
        min-height: 140px;
        background: #fff;

        img {
            width: 100%;
            position: relative;
            top: 0;
            transform: translateY(0);
        }
    }

    .recipe-details {
        padding: 2.5vw;

        .recipe-detail {
            margin-right: 0.7em;

            span {
                color: #fff;
                font-size: 2.5vw;
            }
        }
    }

    .thick-padding {
        padding: 1.3em;
    }

    .recipe-content {
        width: 100%;

        .post-title {
            position: relative;
            word-wrap: break-word;

            h2 {
                min-height: 1em;
                font-size: 1.3em;
            }
        }

        .inline-values {
            margin-bottom: 1em;

            .inline-value-item {
                margin-right: 0.5em;

                span {
                    color: #333;
                    font-size: 0.65em;
                    &.label {
                        font-weight: bold;
                        margin-right: 0.2em;
                    }
                }
            }
        }

        .post-meta {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .post-details {
                position: relative;
                min-height: 0.9em;
                min-width: 100%;
                font-size: 0.65em;

                a.display-name {
                    color: #000;
                    font-weight: 600;
                    margin-right: 0.9em;
                    margin-bottom: 8px;
                }

                span {
                    margin-bottom: 8px;
                }
            }
        }
    }

    .recipe-controls {
        display: flex;
        justify-content: flex-start;
        font-size: 0.85em;

        .rating {
            display: flex;
            align-items: flex-start !important;

            .rating-btn {
                margin-left: 0;
                margin-right: 0.3em;
            }
        }
    }

    .menu-container {
        display: flex !important;
        justify-content: flex-start !important;
        flex-wrap: wrap;
    }

    .recipe-menu {

        a {
            font-size: 0.7em;

            &:hover {
                color: #888;
            }

            &.action-ctl-btn {
                padding: 3px 8px;
                min-width: auto;
            }
        }
    }

    .content-header {
        font-size: 1em;
    }

    ul, ol {
        li {
            font-size: 0.8em;
            line-height: 1.6em;
        }
    }

    .description {
        p {
            font-size: 0.8em;
        }
    }

    #delete-recipe {
        width: 100%;
        padding: 1em;

        button {
            width: 50%;
        }
    }

    .recipe-form-container {
        width: 100% !important;

        button.btn-submit,
        button.btn-link {
            width: 100%;
        }
    }
}
